<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <bean id="person" class="com.jy.basic.Person"/>-->

    <!--    <bean id="person1" class="com.jy.basic.Person"/>-->

    <!--name 小名-->
    <bean id="person"  class="com.jy.basic.Person" >
        <property name="id">
            <value>10</value>
        </property>
        <property name="name">
            <value>jy</value>
        </property>
    </bean>

</beans>