<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <bean id="person" class="com.jy.basic.Person"/>-->

    <!--    <bean id="person1" class="com.jy.basic.Person"/>-->

    <!--name 小名-->
    <bean id="person"  class="com.jy.basic.Person" >
        <property name="id">
            <value>10</value>
        </property>
        <property name="name">
            <value>jy</value>
        </property>
        <property name="emails">
            <list>
                <value>11.@qq.com</value>
                <value>22.@qq.com</value>
            </list>
        </property>
        <property name="tels">
            <set>
                <value>123</value>
                <value>321</value>
            </set>
        </property>
        <property name="addresses">
            <list>
                <value>zpark</value>
                <value>shangdi</value>
                <value>xierq</value>
                <value>xierq</value>
                <value>xierq</value>
            </list>
        </property>
        <property name="qqs">
            <map>
                <entry>
                    <key><value>suns</value></key>
                    <value>3434334343</value>
                </entry>
                <entry>
                    <key><value>chenyn</value></key>
                    <value>73737373</value>
                </entry>
            </map>
        </property>
        <property name="p">
            <props>
                <prop key="key1">value1</prop>
                <prop key="key2">value2</prop>
            </props>
        </property>

    </bean>

</beans>